body{ 
	margin: 0px 
}

#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	height: 100vh;
	background:rgb(229, 229, 229, 0.15)

}

.welcome-text{
	font-size: 24px;
	color: #240F00;
}
.date{
	margin-top: 10px;
	font-size: 15px;
	color: #737373;
}

.cards{
	margin-top: 40px
}

.card-1{
	position: relative;
	/* width: 200px; */
	height: 200px;
	background-color: white;
	border: 1px solid rgba(102, 102, 102, 0.06);
	border-radius: 4px;
	box-shadow: 1px 3px 1px -1px rgba(39, 39, 39, 0.06);
	padding-left: 20px;
	margin-right: 8px
}

.coloured-icon{
	margin: 25px 0px 0px 0px
}

.card-number{
	color: #4D0032;
	font-size: 32px;
	font-weight: 700;
	margin: 16px 0px 6px
}

.card-text{
	color: #240F00;
	font-size: 15px;
	position: absolute;
	z-index: 100
}

.background-icon{
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: 1
}

#last-card{
	margin: 0px
}

#board{
	margin-top: 40px;
	height: auto;
	background-color: #ffffff;
	border:  1px solid #E5E5E5;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
	width: 100%;
	font-size: 14px;
}
td{
	color:  #240F00;
	font-weight: 600;
	
}
th{
	color:  #737373;
	font-weight: 400;
	text-align: left
}
td, th{
	
	padding: 16px 0px;
	
}

tr{
	padding: 0px 10px
}

tr:nth-child(even) {  
	background: #F8F7F6;
}

.logo{
	margin-left: 100px
}
.links-container{
	width: 400px
}
.nav-links{
	margin-left: 45px;
	font-size: 15px;
	color: #737373;
	cursor: pointer
}
#navbar{
	padding: 17px 0px
}
.complete{
	background: rgba(106, 221, 14, 0.2);
	border-radius: 2px;
	width: 106px;
	height: 24px;
	padding: 2px 9px;
	font-size: 12px;
	color: #6ADD0E;
}
.incomplete{
	background: rgba(253, 82, 98, 0.2);
	border-radius: 2px;
	width: 106px;
	height: 24px;
	padding: 2px 9px;
	font-size: 12px;
	color:  #FD5262;
}
.eclipse{
	background:  #6ADD0E;
	border-radius: 50%
}

.dot{
	padding-right: 6px
}
.action-button{
	width: 136px;
	height: 30px;
	background: #F58634;
	border-radius: 2px;
	color:white;
	font-size: 12px;
	text-align: center;
	padding-top: 5px;
}
.action-link{
	text-decoration-line: underline;	
	color: #4D0032;
	font-size: 12px;
}
.offset{
	padding-left: 20px
}
.board-title{
	font-size: 18px;
	color: #4D0032;
	padding: 22px 20px
}
hr{
	margin: 0px 20px
}

.top-container{
	border: 1px solid #E5E5E5;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
	margin-top: 40px;
	padding: 20px 32px;
	background-color: white;

}
.account-header-1{
	font-size: 13px;	
	color: #4D0032;
}
.info-logo{
	position: relative;
	padding-right: 12px
}

.page-info{
	font-size: 15px;
	color: #240F00;
	margin: 15px 0px 13.5px
}
.avatar-section{
	width: 600px
}

.upload-text{
	text-decoration: underline;
	color: #4C0032; 
	font-size: 14px;
	padding-top: 20px
}
.size-text{
	font-size: 13px;
	color: #666666;
	
}
a{
	color: #737373 !important;	
}
form{
	margin-top:30px
}

label{
	font-size: 12px;
	text-transform: uppercase;
	color: #4C0032;
}

.save_button{
	width: 220px;
	height: 40px;
	background: #F58634;
	border-radius: 2px;
	color:white;
	font-size: 16px;
}

.spacing{
	margin-top:30px
}