body{ 
	margin: 0px ;
	font-family: 'Nunito', sans-serif;
}

#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	height: 100vh;
	background:rgb(229, 229, 229, 0.15)
}

#navbar{
	width: 100%;
	height: 80px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);		
	}

.welcome-text{
	font-size: 24px;
	color: #240F00;	
}

.welcome-text-2{
	font-size: 24px;
	color: #240F00;
	padding-top: 40px
}

.date{
	margin-top: 10px;
	font-size: 15px;
	color: #737373;
}

.Dashboard{
	margin: 40px 100px
}

.cards{
	margin-top: 40px
}

.card-1{
	position: relative;		
	height: 200px;
	background-color: white;
	border: 1px solid rgba(102, 102, 102, 0.06);
	border-radius: 4px;
	box-shadow: 1px 3px 1px -1px rgba(39, 39, 39, 0.06);
	padding-left: 20px;
	margin-right: 8px
}

.coloured-icon{
	margin: 25px 0px 0px 0px
}

.card-number{
	color: #4D0032;
	font-size: 32px;
	font-weight: 700;
	margin: 16px 0px 6px
}

.card-text{
	color: #240F00;
	font-size: 15px;
	position: absolute;
	z-index: 100
}

.background-icon{
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: 1
}

#last-card{
	margin: 0px
}

#board{
	margin-top: 40px;
	height: auto;
	background-color: #ffffff;
	border:  1px solid #E5E5E5;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
	width: 100%;
	font-size: 14px;
}
td{
	color:  #240F00;
	font-weight: 600;
	
}
th{
	color:  #737373;
	font-weight: 400;
	text-align: left
}
td, th{	
	padding: 16px 0px;	
}

tr{
	padding: 0px 10px
}

tr:nth-child(even) {  
	background: #F8F7F6;
}

.logo{
	margin-left: 100px
}

.links-container{
	width: 400px
}

.nav-links{
	margin-left: 45px;
	font-size: 15px;
	color: #737373;
	cursor: pointer
}

#navbar{
	padding: 17px 0px
}

.complete{
	background: rgba(106, 221, 14, 0.2);
	border-radius: 2px;
	width: 106px;
	height: 24px;
	padding: 3px 9px;
	font-size: 12px;
	color: #6ADD0E;
}

.incomplete{
	background: rgba(253, 82, 98, 0.2);
	border-radius: 2px;
	width: 106px;
	height: 24px;
	padding: 3px 9px;
	font-size: 12px;
	color:  #FD5262;
}
.eclipse{
	background:  #6ADD0E;
	border-radius: 50%
}

.dot{
	padding-right: 6px
}

.action-button{
	width: 136px;
	height: 30px;
	background: #F58634;
	border-radius: 2px;
	color:white;
	font-size: 12px;
	text-align: center;
	padding-top: 5px;
	cursor: pointer;
}

.action-link{
	text-decoration-line: underline;	
	color: #4D0032;
	font-size: 12px;
	cursor: pointer
}

.action-row{
	position: relative;
}

.offset{
	padding-left: 20px
}

.board-title{
	font-size: 18px;
	color: #4D0032;
	padding: 22px 20px
}

.divider{
	margin: 0px 20px
}

.top-container{
	border: 1px solid #E5E5E5;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
	margin-top: 40px;
	padding: 20px 32px;
	background-color: white;
}

.account-header-1{
	font-size: 13px;	
	color: #4D0032;
}

.info-logo{
	position: relative;
	padding-right: 12px
}

.page-info{
	font-size: 15px;
	color: #240F00;
	margin: 15px 0px 13.5px
}

.avatar-section{
	width: 600px
}

.upload-text{
	text-decoration: underline;
	color: #4C0032; 
	font-size: 14px;
	padding-top: 20px
}

.size-text{
	font-size: 13px;
	color: #666666;	
}

a{
	color: #737373 !important;	
}

form{
	margin-top:30px
}

label{
	font-size: 12px;
	text-transform: uppercase;
	color: #4C0032;
}

.save_button{
	width: 220px;
	height: 40px;
	background: #F58634;
	border-radius: 2px;
	color:white;
	font-size: 16px;
	margin-bottom: 5px
}

.spacing{
	margin-top:30px
}

.AccountSettings{
	padding: 0px 100px;
	background-image: url('../images/background.png');
	background-size: cover
}

.form-control {
	margin-bottom: 10px
}

#save{
	margin-bottom: 10px
}

.profile{
	text-align: right
}

.menu{
	padding: 8px;
	position: absolute;
	top:20px;
	left:40px;
	z-index: 100;
	width: 140px;	
	font-weight: 400;
	font-size: 14px;
	background-color: #ffffff;
	border: 1px solid #E5E5E5;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}

.menu-item{
	padding: 7px 0px;
	color:  #4D0032;
}

.divider-2{
	margin: 0px 0px 0px 3px
}

.complete, .incomplete{
	font-weight: 300 !important
}

.form-control{
	height: calc(1.0em + .75rem + 1px) !important;
	font-size: 12px !important
}